<div class="landing-page">
  <div class="container-fluid">
    <div class="page-content">
      <h1>EN-COURAGE</h1>
      <p>en-courage明治支部では明治大学生1人1人のキャリアを支援する団体です</p>
    </div>
    <p class="dsc-title"><span>en-courage</span>って何？？</p>
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="dsc-area">
          <p class="dsc-text">・面談を通して１人１人が納得したキャリアを歩めることをサポート</p>
          <p class="dsc-text">・Lineグループで、様々な企業の案件を紹介（エンカレのみしかない案件も多数！）</p>
          <p class="dsc-text">・運営は現明治大学４年生</p>
          <p class="dsc-after">などなど沢山のサポート方法を実施しています。</p>
          <p>まずは現３年生が５００人程参加しているLineグループに参加してみませんか！</p>
          <p>Lineグループでは、ほぼ毎日就活のイベント等の情報を流しています↓</p>
          <div class="text-center">
            <%# <img src = "/images/line.png" class="line-image" > %>
          </div>
          <p>このページを運営している４年生がすぐ返信をします！！</p>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="form-area">
          <%= render "layouts/send_button.html.erb" %>
        </div>
      </div>
    </div>
  </div>
</div>