<div class="landing-page">
      <div class="page-content">
        <h1>EN-COURAGE</h1>
        <p>en-courage明治支部では明治大学生1人1人のキャリアを支援する団体です</p>

        <%= render "layouts/flash_message" %>
        <%= render "layouts/send_button.html.erb" %>
        <p class="form-description"></p>

      </div>
</div>
