*{
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;
  box-sizing: border-box;
}
/* ------ flash_message----- */
.danger-message{
  background: none;
  color: red;
}
.services-section{
  background: url("/images/bg.jpg");
  background-size: cover;
  padding: 60px 0;
}
.inner-width{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  overflow: hidden;
}
.section-title{
  text-align: center;
  color: #ddd;
  text-transform: uppercase;
  font-size: 30px;
}
.border{
  width: 160px;
  height: 2px;
  background: #82ccdd;
  margin: 40px auto;
}
.services-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service-box{
  max-width: 33.33%;
  padding: 10px;
  text-align: center;
  color: #ddd;
  cursor: pointer;
}

.service-icon{
  display: inline-block;
  width: 70px;
  height: 70px;
  border: 3px solid #82ccdd;
  color: #82ccdd;
  transform: rotate(45deg);
  margin-bottom: 30px;
  margin-top: 16px;
  transition: 0.3s linear;
}
.service-icon i{
  line-height: 70px;
  transform: rotate(-45deg);
  font-size: 26px;
}
.service-box:hover .service-icon{
  background: #82ccdd;
  color: #ddd;
}
.service-title{
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.service-desc{
  font-size: 14px;
}

@media screen and (max-width:960px) {
  .service-box{
    max-width: 45%;
  }
}

@media screen and (max-width:768px) {
  .service-box{
    max-width: 50%;
  }
}

@media screen and (min-width: 0px) and (max-width:480px) {
  .service-box{
    max-width: 100%;
  }
}
@media screen and (min-width: 0px) and (max-width: 340px){
  .page-content h1{
    font-size: 30px!important;
  }
  .box h1{
    font-size: 25px!important;
  }
}
@media screen and (min-width: 341px) and (max-width: 480px){
  .page-content h1{
    font-size: 35px!important;
  }
  .box h1{
    font-size: 30px!important;
  }
}

/* ---home----- */
.landing-page{
  width: 100%;
  height: 100vh;
  background: #000;
  position: relative;
  overflow: hidden;
}
.landing-page::after{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(/images/home5.jpg) no-repeat;
  background-size: cover;
  opacity: .3;
  animation: anim 25s linear infinite;
}
@keyframes anim {
  50%{
    transform: scale(2);
  }
  100%{
    transform: scale(1);
  }
}
.page-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1;
  width: 100%;
  max-width: 800px;
  text-align: center;
  padding: 0 40px;
  box-sizing: border-box;
}
.page-content h1{
  color: #ff7979;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 20px;
}
.page-content p{
  color: #fff;
  margin-bottom: 20px;
}
.page-content a{
  display: inline-block;
  text-decoration: none;
  color: #ff7979;
  border: 2px solid #ff7979;
  text-transform: uppercase;
  padding: 10px 20px;
  transition: 0.4s linear;
}
.page-content a:hover{
  color: #fff;
  background: #ff7979;
}

/* -----button----- */
.box{
  padding: 0;
  margin: 0 auto;
  background: none;
  text-align: center;
  position: relative;
  top: 50%;
}
.box h1{
  color: #2ecc71;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 42px
}
.form-content{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
@media screen and (min-width: 0px) and (max-width: 359px){
  .form-content:focus{
    widht: 280px;
    border-color: #2ecc71;
  }
}
@media screen and (min-width: 360px){
  .form-content:focus{
    width: 280px;
    border-color: #2ecc71;
    transform: scalex(0.9);
  }
}

.submit{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.submit:hover{
  background: #2ecc71;
}

/*-------managment------  */
.managment{
  margin-top: 40px;
}
.status-btn{
  padding: 2px 5px;
  border-radius: 7px;
  background-color: #00904a;
  color: white;
}
