<div class="loop_css">
	<ul>
		<li><a href="#"><img src="/image/明大茶.jpg" alt="">明大茶</a></li>
		<li><a href="#"><img src="/image/AKIRA １.jpg" alt="">AKIRA</a></li>
		<li><a href="#"><img src="/image/cyberpunk1.jpg" alt="">CyberPunk</a></li>
		<li><a href="#"><img src="/image/Macbookpro.jpg" alt="">Macbookpro</a></li>
	</ul>
	<ul>
		<li><a href="#"><img src="/image/明大茶.jpg" alt="">明大茶</a></li>
		<li><a href="#"><img src="/image/AKIRA １.jpg" alt="">AKIRA</a></li>
		<li><a href="#"><img src="/image/cyberpunk1.jpg" alt="">CyberPunk</a></li>
		<li><a href="#"><img src="/image/Macbookpro.jpg" alt="">Macbookpro</a></li>
	</ul>
</div>
